# Tarea 13, MySQL en Python¶
## Universidad de Guadalajara, CUCEA
## Maestría en Ciencia de los Datos
## Programación I

### Javier Pérez Cajita, 325057392

In [15]:
# Importamos las librerías necesarias:
# - mysql.connector para conectarnos a MySQL
# - pandas para manejar los resultados en forma de DataFrame
# - ipywidgets y display para crear la interfaz gráfica en Jupyter
import mysql.connector
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

In [16]:
# Cargamos el archivo MaratonNY.csv desde la ruta indicada
carreras = pd.read_csv("C:/Users/perez/Desktop/SEMESTRE1/ClasePython/Sesion13/MaratonNY.csv")

# Mostramos las primeras filas para verificar que se cargó correctamente
carreras.head()

   Corredor  place  gender  age home        time
0      3475   3592    Male   52  GBR  217.483333
1     13594  13853  Female   40   NY  272.550000
2     12012  12256    Male   31  FRA  265.283333
3     10236  10457  Female   33   MI  256.150000
4      9476   9686    Male   33   NY  252.250000

# Conexión con MySQL

In [17]:
import mysql.connector

conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MCD.PerezCajita",  
    database="db_mysql"           
)
cursor = conexion.cursor()
print("Conexión exitosa")

Conexión exitosa

# Crear interfaz de filtros

In [20]:

import ipywidgets as widgets
from IPython.display import display

# Sliders para filtros
edad_min = widgets.IntSlider(value=30, min=18, max=80, step=1, description='Edad mínima:')
edad_max = widgets.IntSlider(value=50, min=18, max=80, step=1, description='Edad máxima:')
tiempo_max = widgets.FloatSlider(value=250.0, min=100.0, max=400.0, step=1.0, description='Tiempo máximo:')

# Función de filtrado
Definimos una función que recibe los valores de los sliders y aplica las condiciones sobre el DataFrame.

In [26]:
def filtrar(edad_min, edad_max, tiempo_max):
    # Convertimos la columna 'tiempo' a float para poder comparar
    df['tiempo'] = df['tiempo'].astype(float)
    
    # Aplicamos los filtros usando los nombres correctos
    filtro = df[
        (df['edad'] >= edad_min) &
        (df['edad'] <= edad_max) &
        (df['tiempo'] <= tiempo_max)
    ]
    
    display(filtro.head(20))

# Interfaz interactiva

In [27]:
widgets.interact(
    filtrar,
    edad_min=edad_min,
    edad_max=edad_max,
    tiempo_max=tiempo_max
)

interactive(children=(IntSlider(value=30, description='Edad mínima:', max=80, min=18), IntSlider(value=50, des…

In [29]:
# Dropdown para género
genero = widgets.Dropdown(
    options=['Todos', 'M', 'F'],
    value='Todos',
    description='Género:'
)

def filtrar(edad_min, edad_max, tiempo_max, genero):
    df['tiempo'] = df['tiempo'].astype(float)
    filtro = df[
        (df['edad'] >= edad_min) &
        (df['edad'] <= edad_max) &
        (df['tiempo'] <= tiempo_max)
    ]
    if genero != 'Todos':
        filtro = filtro[filtro['gender'] == genero]
    display(filtro.head(20))

widgets.interact(
    filtrar,
    edad_min=edad_min,
    edad_max=edad_max,
    tiempo_max=tiempo_max,
    genero=genero
)

interactive(children=(IntSlider(value=30, description='Edad mínima:', max=80, min=18), IntSlider(value=50, des…